exportPattern("^[[:alpha:]]+")

import(doParallel)
import(randomForest)
import(nnet)
import(e1071)
import(multiway)
import(glmnet)

S3method(print, cpfa)
S3method(predict, cpfa)

importFrom("stats", "na.omit", "predict")
importFrom("parallel", "makeCluster", "detectCores", "clusterEvalQ", "stopCluster")
importFrom(doParallel,registerDoParallel)
importFrom(foreach,"%do%")
importFrom(foreach,"%dopar%")
importFrom(foreach, foreach)
importFrom("stats", "model.matrix")
