exportPattern("^[[:alpha:]]+")

import(multiway)
import(glmnet)
import(e1071)
import(randomForest)
import(nnet)
import(xgboost)
import(doParallel)

S3method(print, tunecpfa)
S3method(predict, tunecpfa)

importFrom("stats", "na.omit", "predict")
importFrom("graphics", "boxplot")
importFrom("graphics", "box", "text")
importFrom("stats", "formula")
importFrom("parallel", "makeCluster", "detectCores", "clusterEvalQ", "stopCluster")
importFrom(doParallel, registerDoParallel)
importFrom(foreach, "%do%")
importFrom(foreach, "%dopar%")
importFrom(foreach, foreach)
importFrom(rda, "rda")
importFrom(rda, "predict.rda")
importFrom("stats", "model.matrix")
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "axis", "image", "layout", "mtext", "par")
importFrom("stats", "median")
importFrom("stats", "cor", "rbinom", "rexp", "rgamma", "rbeta", "rnorm", "rpois", "runif")
