exportPattern("^[[:alpha:]]+")

import(multiway)
import(glmnet)
import(e1071)
import(randomForest)
import(nnet)
import(doParallel)

S3method(print, cpfa)
S3method(predict, cpfa)

importFrom("stats", "na.omit", "predict")
importFrom("graphics", "boxplot")
importFrom("stats", "formula")
importFrom("parallel", "makeCluster", "detectCores", "clusterEvalQ", "stopCluster")
importFrom(doParallel, registerDoParallel)
importFrom(foreach, "%do%")
importFrom(foreach, "%dopar%")
importFrom(foreach, foreach)
importFrom(rda, "rda")
importFrom(rda, "predict.rda")
importFrom("stats", "model.matrix")
